@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* FOOTER */
.main__footer {
  width: 100%;
  background-color: #1b3039; }
  .main__footer .footer__container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px; }
  .main__footer .box h2 {
    color: white;
    margin-bottom: 25px;
    font-size: 20px; }
  .main__footer .box p {
    color: #efefef;
    margin-bottom: 10px; }
  .main__footer .redes__sociales a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #efefef;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    border-radius: 10px;
    transition: all 300ms ease; }
    .main__footer .redes__sociales a:hover {
      background: #18334e; }
  .main__footer .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .main__footer .box figure img {
      width: 250px; }
  .main__footer .footer__derechos {
    background-color: #1b3039;
    padding: 15px 10px;
    text-align: center;
    color: white; }
    .main__footer .footer__derechos small {
      font-size: 15px; }

@media screen and (max-width: 800px) {
  .main__footer .footer__container {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; } }

/*INDEX CONTAINER*/
.index__container {
  width: 80%;
  margin: 0 auto;
  background: green;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around; }

.nav {
  background-color: #1b3039; }

.container {
  margin-bottom: 50px;
  height: 400px;
  background-image: url("../../assets/img/codew.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.918);
  color: white;
  justify-items: center; }
  .container .btn__main {
    padding: 10px 15px;
    margin: auto;
    background-color: #1b3039;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    border: 0px;
    transition: all 300ms ease; }
    .container .btn__main:hover {
      transform: scale(1.1); }

/* MEDIA QUERIES */
@media screen and (max-width: 800px) {
  .main__footer .footer__container {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; } }

@media (max-width: 768px) {
  .box__experiencia {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "imagen1" "texto1" "imagen2" "texto2"; } }

/*  PAGINA EXPERIENCIA  */
.box__experiencia {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  grid-template-areas: "imagen1 texto1" "imagen2 texto2"; }

.texto1 {
  margin-top: 50px;
  grid-area: texto1; }

.texto2 {
  margin-top: 50px;
  grid-area: texto2; }

.imagen1 {
  grid-area: imagen1;
  background-image: url("../../assets/img/ccc__logo.jpg");
  width: 200px; }

.imagen2 {
  grid-area: imagen2;
  width: 250px; }

@media (max-width: 768px) {
  .box__experiencia {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "imagen1" "texto1" "imagen2" "texto2";
    text-align: center; }
  .texto1 {
    margin: 0; }
  .texto2 {
    margin: 0; }
  .imagen2 {
    width: 350px; } }

/*  PAGINA QUIEN SOY    */
.quiensoy__container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "pic informacion";
  align-items: center;
  align-content: center;
  grid-gap: 0ch;
  margin-top: 50px;
  margin-bottom: 50px; }

.pic_mia {
  grid-area: pic;
  text-align: center; }
  .pic_mia img {
    border-radius: 200px;
    width: 250px; }

.informacion {
  grid-area: informacion; }

@media (max-width: 768px) {
  .quiensoy__container {
    margin-top: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "pic" "informacion";
    text-align: center; } }

/*PARTE CARDS*/
.container__card {
  max-width: 1200px;
  padding: 20px;
  padding-bottom: 40px;
  margin: auto;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.card {
  width: 300px;
  position: relative;
  margin: 20px;
  font-family: 'Poppins', sans-serif;
  transition: all 300ms;
  border-radius: 20px; }
  .card:hover {
    box-shadow: 1px 1px 20px -10px #20202049; }
    .card:hover .info__descricion {
      margin-top: 0;
      border-radius: 0px 0px 20px 20px; }
    .card:hover .icon {
      margin-top: -110px;
      border-radius: 20px 20px 0px 0px; }

.icon {
  width: 100%;
  height: 220px;
  background: #EFF3F5;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  border-radius: 20px; }
  .icon i {
    font-size: 150px;
    color: #fff;
    transition: all 400ms cubic-bezier(0.5, 0, 0, 1); }

.info__descricion {
  width: 100%;
  height: 220px;
  color: #474747;
  background: #EFF3F5;
  padding: 20px;
  margin-top: -220px;
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  border-radius: 20px; }
  .info__descricion p {
    font-size: 14px;
    margin-top: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden; }

.c1:hover .icon {
  background: #DD4B25; }
  .c1:hover .icon i {
    color: #fff; }

.c1 .icon i {
  color: #DD4B25; }

.c2:hover .icon {
  background: #146EB0; }
  .c2:hover .icon i {
    color: #fff; }

.c2 .icon i {
  color: #146EB0; }

.c3:hover .icon {
  background: #E8B600; }
  .c3:hover .icon i {
    color: #fff; }

.c3 .icon i {
  color: #E8B600; }

/* MEDIA QUERIES */
.container__form {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em; }
  .container__form .wrapper {
    box-shadow: 0 20px 0 rgba(72, 94, 116, 0.7); }
    .container__form .wrapper .info__contacto ul {
      list-style: none;
      padding: 0; }
  .container__form .brand span {
    color: white; }

.wrapper > * {
  padding: 1em; }

.info__contacto {
  background: #1b3039;
  color: white; }
  .info__contacto h3 {
    text-align: center;
    margin: 0 0 1rem 0; }
  .info__contacto ul {
    text-align: center;
    margin: 0 0 1rem 0; }

.contacto__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px; }
  .contacto__form label {
    display: block; }
  .contacto__form form p {
    margin: 0; }
  .contacto__form form .full {
    grid-column: 1 / 3; }
  .contacto__form form button {
    width: 100%;
    padding: 1em;
    border: 1px solid #1b3039;
    background: #c9e6ff;
    border: 0;
    text-transform: uppercase; }
  .contacto__form form input {
    width: 100%;
    padding: 1em;
    border: 1px solid #1b3039; }
  .contacto__form form textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid #1b3039; }
  .contacto__form button:hover {
    background: #1b3039;
    color: #485e74;
    outline: 0;
    transition: background-color 2s ease-out; }
  .contacto__form:focus {
    background: #1b3039;
    color: #485e74;
    outline: 0;
    transition: background-color 2s ease-out; }

@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr; }
    .wrapper > * {
      padding: 2em; }
  .info__contacto h3 {
    text-align: left; }
  .info__contacto ul {
    text-align: left; }
  .brand {
    text-align: left; } }
