/*  PAGINA EXPERIENCIA  */
.box__experiencia {
	width: 100%;
	max-width: 1200px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	justify-content: center;
	justify-items: center;
	grid-template-areas: "imagen1 texto1" "imagen2 texto2";
}
.texto1 {
	margin-top: 50px;
	grid-area: texto1;
}
.texto2 {
	margin-top: 50px;
	grid-area: texto2;
}
.imagen1 {
	grid-area: imagen1;
	background-image: url("../../assets/img/ccc__logo.jpg");
	width: 200px;
}
.imagen2 {
	grid-area: imagen2;
	width: 250px;
}
@media (max-width: 768px) {
	.box__experiencia {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr);
		grid-template-areas: "imagen1" "texto1" "imagen2" "texto2";
		text-align: center;
	}
	.texto1 {
		margin: 0;
	}
	.texto2 {
		margin: 0;
	}
	.imagen2 {
		width: 350px;
	}
}