
/* FOOTER */

.main__footer {

width: 100%;
background-color: $color--principal;
.footer__container {

    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    }

    .box h2 {
        color: white;
        margin-bottom: 25px;
        font-size: 20px;
    }

    .box p {
        color: #efefef;
        margin-bottom: 10px;
    }

    .redes__sociales a {
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: #efefef;
        margin-right: 10px;
        background-color: #0d2033;
        text-align: center;
        border-radius: 10px;
        transition: all 300ms ease;

        &:hover{
            background: #18334e;
        }
    }

    .box figure {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    img {
        width: 250px;
    }
    }

    .footer__derechos {
        background-color: #1b3039;
        padding: 15px 10px;
        text-align: center;
        color: white;

        small {
            font-size: 15px;
        }
    }
}
@media screen and (max-width: 800px) {
    .main__footer .footer__container {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}