/*INDEX CONTAINER*/

.index__container {

    width: 80%;
    margin: 0 auto;
    background: green;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}

.container {
    margin-bottom: 50px;
    .btn__main {

        padding: 10px 15px;
        margin: auto;
        background-color: #1b3039;
        border-radius: 30px;
        color: white;
        cursor: pointer;
        border: 0px;
        transition: all 300ms ease;
        &:hover {
        transform: scale(1.1);
        }
    }
}